@font-face {
  font-family: "Cat Font";
  src: url("./styles/fonts/Exo2.0-Thin.otf") format("opentype");
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: "Cat Font", sans-serif;
}
